@font-face {
	font-family: "Roboto-Regular";
	src: url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto-Bold";
	src: url(../../assets/fonts/Roboto-Bold.ttf);
}
.form {
	display: flex;
	align-items: center;
	width: 100%;
	
}
.form__input {
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 3px solid #256EEB;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 21.45px;
}
.form__input::placeholder {
	padding-left: 21,45px;
}
.form__link {
	text-decoration: none;
	color: #fff;
	font-family: "Roboto-Regular";
}
.button-container {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: #256EEB;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form__button{
	background-color: #256EEB;
	border: none;
	padding-left: 5px;
}

.form__img {
	
}