@font-face {
	font-family: "Roboto-Regular";
	src: url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto-Bold";
	src: url(../../assets/fonts/Roboto-Bold.ttf);
}
.form {
	display: flex;
	align-items: center;
	width: 100%;
	
}
.form__input {
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 3px solid #256EEB;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 21.45px;
}
.form__input::placeholder {
	padding-left: 21,45px;
	font-size: 14px;
}
.form__link {
	text-decoration: none;
	color: #fff;
	font-family: "Roboto-Regular";
}
.button-container {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: #256EEB;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form__button{
	background-color: #256EEB;
	border: none;
	padding-left: 5px;
}
.main .container {
	display: block;
}

.main__items-container {
	display: flex;
	justify-content: space-between;
}
.card__name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 5px;
}
.card__price {
	padding-bottom: 10px;
	font-weight: bold;
	font-family: "Roboto-Bold";
}

.card__price::after {
	content: ' \20BD';
}

.card__img {
	height: auto;
	width: 100;
	max-width: 264px;
}
.main__recommendations {
	margin-top: 42px;
}
.recommendations__title {
	font-size: 24px;
	font-weight: bold;
	font-family: "Roboto-Bold";
	color: #0A143A;
}
.recommendations__cards-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 852px;
	column-gap: 30px;
	row-gap: 20px;
	margin-top: 25px;
}

.card:nth-child(3) .card__name .card__link {
	max-width: 195px;
}

.card__link {
	text-decoration: none;
	font-weight: bold;
	font-family: "Roboto-Bold";
	color: #256EEB;
}

.card__adress, .card__date {
	color: #C4C4C4;
	font-family: "Roboto-Regular";
	font-size: 14px;
}
.services__title {
	margin-top: 51px;
	font-weight: bold;
	font-family: "Roboto-Bold";
	color: #0A143A;
	font-size: 18px;
	margin-bottom: 23px;
}
.services {
	max-width: 261px;
}
.services__container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.delivery__icon, .history__icon, .booking__icon {
	margin-bottom: 7px;
}
.delivery__title, .history__title, .booking__title {
	margin-bottom: 5px;
	font-weight: bold;
	font-family: "Roboto-Bold";
	color: #0A143A;
	font-size: 14px;
}

.delivery__description, .history__description, .booking__description {
	font-family: "Roboto-Regular";
	color: #0A143A;
	font-size: 14px;
}

.footer-line {
	background-color: #E5E5E5;
	max-width: 261px;
	height: 2px;
	margin-top: 37px;
}

.footer__links {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.footer__link {
	color: #C4C4C4;
	font-size: 14px;
	font-family: "Roboto-Regular";
}
.footer__link:nth-child(1) {
	text-decoration: none;
}

.footer__ad {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer__ad-link {
	font-size: 12px;
	text-decoration: none;
	font-family: "Roboto-Regular";
	color: #000;
}
.footer__ad-link:hover {
	color: #256EEB;
}
.footer__ad-link:nth-child(1) {
	color: #0A143A;
}
.footer__ad-link:nth-child(1):hover {
	color: #256EEB;
}
