@font-face {
	font-family: "Roboto-Regular";
	src: url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto-Bold";
	src: url(../../assets/fonts/Roboto-Bold.ttf);
}
.form {
	display: flex;
	align-items: center;
	width: 100%;
	
}
.form__input {
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 3px solid #256EEB;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 21.45px;
}
.form__input::placeholder {
	padding-left: 21,45px;
	font-size: 14px;
}
.form__link {
	text-decoration: none;
	color: #fff;
	font-family: "Roboto-Regular";
}
.button-container {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: #256EEB;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form__button{
	background-color: #256EEB;
	border: none;
	padding-left: 5px;
}
.main .container {
	display: block;
}
.product {
	display: flex;
	gap: 128px;
	margin-top: 40px;
}
.product__name {
	display: flex;
	gap: 192px;
	align-items: center;
	
}
.product__title {
	font-family: "Roboto-Bold";
	color: #0A143A;
	font-size: 24px;
	font-weight: bold;
}
.product__price {
	font-size: 24px;
	font-family: "Roboto-Bold";
	font-weight: bold;
	color: #0A143A;
}
.product__photo-main {
	display: flex;
	gap: 30px;
	margin-top: 25px;
}
.product__photos {
	display: flex;
	align-items: center;
	margin-top: 16px;
	gap: 5px;
}
.product__description {
	margin-top: 30px;

	
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #0A143A;
	line-height: 19.6px;
}
.reviews__stars {
	display: flex;
	gap: 3px;
	align-items: center;
}
.reviews__text {
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #858A9D;
}
.reviews {
	display: flex;
	gap: 10px;
	align-items: center;
}
.user {
	display: flex;
	align-items: center;
	gap: 74px;
	margin-bottom: 30px;
}
.user__name {
	text-decoration: none;
	font-family: "Roboto-Bold";
	font-weight: bold;
	font-size: 14px;
	color: #0A143A;
}
.user__type {
	font-size: 12px;
	font-family: "Roboto-Regular";
	color: #0A143A;
}
.user__text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.phone-btn {
	background-color: #256EEB;
	margin-bottom: 14px;
	border-radius: 5px;
}
.message-btn {
	background-color: #14B4BE;
	border-radius: 5px;
}
.phone-btn__text {
	width: 100%;
	display: block;
	text-align: center;
	padding: 19px 0px;
	text-decoration: none;
	color: #fff;
	font-family: "Roboto-Regular";
	font-size: 14px;
	
}
.ads {
	display: flex;
	flex-direction: column;
	gap: 7px;
	margin-bottom: 26px;
}


.footer-line {
	background-color: #E5E5E5;
	max-width: 261px;
	height: 2px;
	
}

.footer__links {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.footer__link {
	color: #C4C4C4;
	font-size: 14px;
	font-family: "Roboto-Regular";
}
.footer__link:nth-child(1) {
	text-decoration: none;
}

.footer__ad {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer__ad-link {
	font-size: 12px;
	text-decoration: none;
	font-family: "Roboto-Regular";
	color: #000;
}
.footer__ad-link:hover {
	color: #256EEB;
}
.footer__ad-link:nth-child(1) {
	color: #0A143A;
}
.footer__ad-link:nth-child(1):hover {
	color: #256EEB;
}